@model IEnumerable<Sistema_Compras.Marcas>

@{
    ViewBag.Title = "Index";
}

<h2>Marcas</h2>

<p>
    @Html.ActionLink("Crear Marca", "Create")
</p>

@* La barra de busqueda Inicia *@
<div class="row">
    <form class="form-inline my-2 my-lg-0 col-10" method="get">
        <input class="form-control mr-sm-2" type="text" placeholder="filtrar" id="Criterio" name="Criterio" />
        <input class="btn btn-secondary my-2 my-sm-0" type="submit" id="cmdBuscar" value="Buscar" />
    </form>
</div>
@* La barra de busqueda Fin *@


<table class="table table-striped table-dark">
    <thead class="thead-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Activo)
            </th>
            <th></th>
        </tr>
    </thead>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Activo)
            </td>
            <td>
                <button type="button" class="btn btn-outline-success">@Html.ActionLink("Editar", "Edit", new { id = item.IdMarca })</button>
                <button type="button" class="btn btn-outline-warning">@Html.ActionLink("Detalles", "Details", new { id = item.IdMarca })</button>
                <button type="button" class="btn btn-outline-danger">@Html.ActionLink("Borrar", "Delete", new { id = item.IdMarca })</button>
            </td>
        </tr>
    }

</table>
